# TA Session Exercises

In [62]:
# Calculate the remainder of 17 when it is divided by 3
# Create its variable and identify the type

In [63]:
remainder=17%3
print(remainder)

2

In [64]:
type(remainder)

int

In [65]:
# Write separate variables for your address details: street number, street name, appartment number all in small letters
# Find out the types
# Make the first letter of your street name capital and save
# Print your full address in the following format: "72 Hanrapetutyan, apt. 72"
# Add * to the address (in the end)
# Determine the order number of *

----------

In [66]:
strnum=72
strname="Hanrapetutyun"
aptnum=72

In [67]:
type(strnum)

int

In [68]:
type(strname)

str

In [69]:
type(aptnum)

int

In [70]:
strname.capitalize()

'Hanrapetutyun'

In [71]:
strname=strname.capitalize()

In [72]:
print(strname)

Hanrapetutyun

In [73]:
full=str(strnum)+" "+strname+", apt. "+str(aptnum)
print(full)

72 Hanrapetutyun, apt. 72

In [74]:
full=full+"*"
print(full)

72 Hanrapetutyun, apt. 72*

In [75]:
full.find("*")

25

In [76]:
# Write down a list of 4 countries 
# Put them in the alphabetical order
# Add 1 more country
# Again put in the alphabetical order
# See what the length of the list is
# Print out the very first country
# Print the 4rd letter of the middle country
# Print the countries vertically
# Add continent Europe for each country

---------

In [77]:
list=["Armenia","Ukraine","Italy","France"]
print(list)

['Armenia', 'Ukraine', 'Italy', 'France']

In [78]:
list.sort()
print(list)

['Armenia', 'France', 'Italy', 'Ukraine']

In [79]:
list.append("Germany")
print(list)

['Armenia', 'France', 'Italy', 'Ukraine', 'Germany']

-----------

In [80]:
list.sort()
print(list)

['Armenia', 'France', 'Germany', 'Italy', 'Ukraine']

In [81]:
len(list)

5

In [82]:
list[0]

'Armenia'

In [83]:
list[2][3]

'm'

In [84]:
for i in list:
    print(i)

Armenia
France
Germany
Italy
Ukraine

In [85]:
for i in list:
    print(i+" Europe")

Armenia Europe
France Europe
Germany Europe
Italy Europe
Ukraine Europe

In [86]:
# Write a program which will find all even numbers between 100 and 200 (both included) 
# that are divisible by 4 and not divisibly by 6

In [87]:
list=[]
for i in range(100,201,2):
    if i%4==0 and i%6!=0:
        list.append(i)
print(list)

[100, 104, 112, 116, 124, 128, 136, 140, 148, 152, 160, 164, 172, 176, 184, 188, 196, 200]

In [88]:
# Write a program that will let you know that ticket is $15 for people aged 18+, $10 for people aged 6 to 18 and if you are
# 5 or younger, you can't watch a football game.

In [89]:
age=13
if age>=18:
    print("The ticket is $15")
elif 6<=age<18:
    print("the ticket is $10")
else:
    print("You can't watch a football game")

the ticket is $10

--------

In [90]:
# Define a function to greet a person!

In [94]:
def greet(name):
    print("Hello,"+name+".Good Morning!")

In [95]:
greet('Kristina')

Hello,Kristina.Good Morning!

In [93]:
# Define a function that will calculate the absolute value!

In [96]:
def absvalue(n):
    if n>=0:
        return n
    else:
        return -n

In [99]:
absvalue(-1)

1


# Done!