In [35]:
names=["John", "Jack", "James","Jimmy"]

In [36]:
for i in names:
    print(i)

John
Jack
James
Jimmy

In [37]:
i=0
while i<len(names):
    print(names[i])
    i=i+1

John
Jack
James
Jimmy

In [38]:
range(1,10,2)

range(1, 10, 2)

In [39]:
for i in range(1, 10, 2):
    print(i)

1
3
5
7
9

In [40]:
i=1
while i<10:
    print (i)
    i=i+2

1
3
5
7
9

In [41]:
for i in names:
    print("Super "+ i)

Super John
Super Jack
Super James
Super Jimmy

In [42]:
i=0
while i<len(names):
    print("Super ",names[i])
    i=i+1

Super  John
Super  Jack
Super  James
Super  Jimmy

In [43]:
names_up=[]
for i in names:
    names_up.append(i.upper())
print(names_up)

['JOHN', 'JACK', 'JAMES', 'JIMMY']

In [44]:
print(names_up)

['JOHN', 'JACK', 'JAMES', 'JIMMY']

In [48]:
names_upp=[]
i=0
while i<len(names):
    names_upp.append(names[i].upper())
    i=i+1
print (names_upp)

['JOHN', 'JACK', 'JAMES', 'JIMMY']

for i in data:
    if i[-6:]=="- Open":    #bari verjin 6 element@ [-6]
        print(i)            #bari skzbi 6 element@ [:6]
        
WIKI/AAPL - Open
WIKI/GOOGL - Open
WIKI/IBM - Open
WIKI/MSFT - Open
WIKI/FB - Open

In [49]:
for i in names:
    if i[0]=="J":
        print('male')

male
male
male
male

In [50]:
i=0
while i<len(names):
    if names[0][0]=="J":
        print('male')
    i=i+1

male
male
male
male

In [53]:
num_list=[0,10,255,22,10,56,78,987,15555]
for i in num_list:
    if len(str(i))<3:
        print(i)
    else:
        print(i*2)

0
10
510
22
10
56
78
1974
31110

In [54]:
i=0
while i<len(num_list):
    if len(str(num_list[i]))<3:
        print(num_list[i])
    else:
        print(num_list[i]*2)
    i=i+1

0
10
510
22
10
56
78
1974
31110

In [57]:
stock_list=["AAPL","GOOGL","IBM","MSFT","FB"] 

x=0
while x<len(stock_list):
    stock_list.pop(x)
print(stock_list)

[]

In [58]:
for i in stock_list:   
    stock_list.pop()
print (stock_list)

[]

In [59]:
name_list = ["Jack","James","Alice",
            "Jimmy","John","Andrea",
            "Joshua","Jonathan","Anastasia"]

In [61]:
for i in  range(len(name_list)):
    if i%3==2:
        print(name_list[i])

Alice
Andrea
Anastasia

In [62]:
i=2
while i<len(name_list):
    print(name_list[i])
    i=i+3

Alice
Andrea
Anastasia

In [63]:
digits=[ "1","12","123" ]

one_digit=[]
two_digit=[]
three_digit=[]
for i in digits:
        if (len(i))==1:
            one_digit.append(i)
        elif (len(i))==2:
            two_digit.append(i)
        else:
            three_digit.append(i)
one_digit,two_digit,three_digit

(['1'], ['12'], ['123'])

In [67]:
one_digit=[]
two_digit=[]
three_digit=[]

i=0
while i<len(digits):
    if (len(digits[i]))==1:
        one_digit.append(digits[i])
        print(one_digit)
    elif (len(digits[i]))==2:
        two_digit.append(digits[i])
        print(two_digit)
    else:
        three_digit.append(digits[i])
        print(three_digit)
    i=i+1

['1']
['12']
['123']